@charset "utf-8";
@import "bootstrap";
@import "bootstrap-responsive";


body {
  padding-top: 55px;
  background: #d4d4d4 url("../images/background.png");
  text-align: center;
  /*font-family: sans-serif; */
}
