<div class="greenscreen">
  <div class="row">
    <div class="span6">
      <div class="ipad white">
        <div class="screen">
        </div>
        <div class="iphone-large white temp">
          <div class="screen">
          </div>
        </div>
      </div>
    </div>
    <div class="span6">
      <div class="hero-unit">
      <h1>Green Screen</h2>
      <p>First step to great app mockups in post-production.</p>
      <a href="#" class="btn btn-large btn-danger">Get it From App Store</a>
      </div>
    </div>
  </div>
